.tittle{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

.pointer{
    cursor: pointer;
}

.servicesTittle{
    background-color: #0047BA;
    color: #FFFFFF;
    height: 50px;
    padding-left: 22px;
}